<!DOCTYPE html>
<html lang="eng-us">


<head>

    <meta name=”viewport” content=”width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Mission to Mars</title>
    
    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="style.css">

</head>

<body>

    
    <div class="container">

        <!--Set up top jumbotron-->
        <div class="jumbotron text-center">
            <!--Test Rendering Text-->
            <h1>Let's Get Some Data On Mars!</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data</a></p>
        </div>
        <!--Close jumbotron-->

        <!--Show news_title and article_teaser-->
        <div class="row">
            <div class="col-md-12">
                <h2>Latest News</h2>
                <p>{{ mars_db.news_title }}</p>
                <p>{{ mars_db.article_teaser }}</p>
            </div>
        </div>
        <!--Close news_title-->

        <!--Row with featured image and table-->
        <div class="row">
            <div class="col-md-7">
                <h2>Featured Image</h2>
                <img src="{{ mars_db.featured_img }}">
            </div>

            <div class="col-md-5">
                <h4>Mars Earth Comparison</h4>
                <div class="table-responsive-md">
                    <!--Currently just showing as html, not as formatted table-->
                    {{ mars_db.mars_facts| safe }}
                </div>
            </div>
        </div>
       <!--Close featured image and table-->

       <!--Row with all the hemisphere images as large thumbnails-->
       <div class="row">
           <!--Trying a for loop-->
           {% for hemisphere in mars_db %}
           <div class="col-md-3">
               <h4>{{ hemisphere.title }}</h4>
               
           </div>
           {% endfor %}
       </div>




    </div>





        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>